 .u-section-1 {
  min-height: 805px;
}

.u-section-1 .u-gallery-1 {
  height: 586px;
  width: 918px;
  margin: 117px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    width: 720px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 3px;
  }
} .u-section-2 {
  background-image: url("images/ChatGPTImageJan22202609_01_34PM.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 781px;
}

.u-section-2 .u-text-1 {
  text-shadow: 0px 2px 8px rgba(234,253,252,1);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 600;
  margin: 25px calc(((100% - 1140px) / 2)  + 251px) 0 calc(((100% - 1140px) / 2)  + -176px);
}

.u-section-2 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 716px);
  height: auto;
  min-height: 363px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0.5), rgba(242, 242, 242, 0.5));
  background-size: cover;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 11px 20px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 4px 11px 0 28px;
}

.u-section-2 .u-group-2 {
  width: 566px;
  height: auto;
  --radius: 15px;
  min-height: 367px;
  margin: -27px auto 0 calc(((100% - 1140px) / 2)  + -22px);
}

.u-section-2 .u-image-1 {
  background-image: url("images/4aaa1833-9f2e-4f35-92b3-4d5972e58087.png");
  background-size: cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 644px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-size: 3rem;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 716px);
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 277px;
  }

  .u-section-2 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2) + -22px);
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 493px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 716px);
  }

  .u-section-2 .u-text-2 {
    margin-right: 38px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 57px;
  }

  .u-section-2 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2) + -22px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 370px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5555555555555554rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.3333333333333333rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 103px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 670px;
}

.u-section-3 .u-text-1 {
  line-height: 1;
  font-weight: 600;
  margin: 12px auto 60px 345px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 103px;
  }
}